@page "/admin"
@inherits AdminPageBase

<h3>BirdNames Data Administration</h3>

<div class="row">
  <hr />
  <div class="col-md-12">
    Upload BirdNames Xml (https://www.worldbirdnames.org/new/ioc-lists/master-list-2/)
  </div>
</div>

@if (!IsLoggedIn)
{
  <div class="row">
    <hr />
    <div class="col-md-12">
      <RadzenLabel Component="adminPassword">Admin Password: <b><i>{Enter} or {Tab} to continue</i></b></RadzenLabel>
      <RadzenPassword @bind-Value=@AdminPassword Style="width:100%" Name="adminPassword" @onkeyup="@(_loginKeyPress)" />
      <RadzenButton id="loginButton" Name="loginButton" Text="Login" Click=@Login  />
    </div>
  </div>
}

<div class="row">
  <hr />
  <div class="col-md-12">
    <RadzenLabel Text="IOC World Bird List (Xml):" />
    @if (IsLoggedIn)
    {
      <InputFile OnChange="OnXmlFileUploadChanged"></InputFile>
    }
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Upload" Click="@(async ()=>await ProcessUploadedXml())" Disabled="@(!IsLoggedIn)" />
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-md-12">
    <RadzenLabel Text="Country List (Csv):" />
    @if (IsLoggedIn)
    {
      <InputFile OnChange="OnCsvFileUploadChanged"></InputFile>
    }
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Upload" Click="@(async ()=>await ProcessUploadedCsv())" Disabled="@(!IsLoggedIn)" />
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-md-4">
    <RadzenFieldset Text="Process Major Regions">
      <RadzenButton Click="@(async() => await ProcessMajorRegions(RefreshMajorRegions))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshMajorRegions></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
  <div class="col-md-4">
    <RadzenFieldset Text="Process Sub-national1">
      <RadzenButton Click="@(async() => await ProcessSubRegions(true, RefreshSubRegion1))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshSubRegion1></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
  <div class="col-md-4">
    <RadzenFieldset Text="Process Sub-national2">
      <RadzenButton Click="@(async() => await ProcessSubRegions(false, RefreshSubRegion2))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshSubRegion2></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-md-4">
    <RadzenFieldset Text="Process Sub-national1 Species">
      <RadzenButton Click="@(async() => await ProcessSubRegions1Species(RefreshSubRegion1Species))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshSubRegion1Species></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
  <div class="col-md-4">
    <RadzenFieldset Text="Process Unique Species">
      <RadzenButton Click="@(async() => await ProcessUniqueSpeciesInfo(RefreshUniqSpecies))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshUniqSpecies></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
  <div class="col-md-4">
    <RadzenFieldset Text="Verify Unique Species">
      <RadzenButton Click="@(async() => await VerifyAllUniqueSpecies(RefreshAllSpeciesVerify))" Disabled="@(!IsLoggedIn)" ButtonStyle="ButtonStyle.Secondary">Process</RadzenButton>
      <RadzenCheckBox @bind-Value=@RefreshAllSpeciesVerify></RadzenCheckBox>
      <RadzenText TextStyle="TextStyle.Caption">Refresh</RadzenText>
    </RadzenFieldset>
  </div>
</div>

@code
{
  private void _loginKeyPress(KeyboardEventArgs args)
  {
    if (string.IsNullOrEmpty(AdminPassword))
      return;

    if (args.Key == "Enter")
      Login();
  }
}
